
*{
    box-sizing: border-box;
}
.clear{
    clear: both;
}
body{
    background-color: #000;
}
h4{
    text-transform: capitalize;
    margin: 20px 0;
    color: green;
}
/* main rules */
.wrapper{
    padding: 0 30px;
    width: 1000px;
    margin: auto;
    background-color: #fff;
}
header{
    height: 70px;
}
header .logo{
    float: left;
    margin: 20px;
}
.links{
    float: right;
    display: flex;
    text-transform: capitalize;
}
.links div{
    line-height: 70px;
    position: relative;
}
.links div:last-child a{
    border: transparent;
}


.links div a{
    color: #000;
    font-weight: 600;
    text-decoration: none;
    border-right: 1px solid red;
    padding: 0 10px;
}
.wrapper .links div a:hover{
    text-decoration: none;
}

.wrapper .links div a.active{
    color: green;
}
.banner{
    background-image: url(../img/banner.png);
    height: 200px;
    position: relative;
}
.banner p{
    font-size: 28px;
    font-weight: 400;
    width: 437px;
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.banner p span{
    font-size: 38px;
    font-weight: 400;
    
}

/* banner rules */
.row{
    margin: 0;
}
.row .col-md-5,.row .col-md-7{
    margin: 0;
    padding: 0;
}
.our-scools{
    overflow: hidden;
}
.our-scools .welcome{

}
.our-scools .welcome h4{
    text-transform: capitalize;
    margin: 20px 0;
    color: green;
}
.our-scools .welcome span{
font-weight: 500;
color: #0a356d;
}
.our-scools .welcome p{
    color: gray;
    font-size: 13px;
}
.our-dates{
    height: 500px;
    padding: 27px;
    padding-right: 0;


}
.our-dates .events {
    background-color: #f9eddd;
    border: 6px solid #fcd598;
    padding-left: 20px;

}
.our-dates .events span{
    font-size: 14px;
    font-weight: 700;
    color: #0a356d;
    
}
.our-dates .events p{
    font-size: 13px;
    color: #d06f29;
}
.our-scools .welcome a{
    background-color: #7e1510;
    padding: 4px 8px;
    color: white;
    text-transform: capitalize;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;

}
.gallery{
    border-right: 1px dotted blue;
}
.gallery span{
    font-size: 12px;
    font-weight: 700;
    color: #0a356d;
}
.drawing p{
    font-size: 14px;
}
.gallery img{
    margin: 20px 0;
}

.drawing span{
    font-size: 12px;
    font-weight: 700;
    color: #0a356d;
}

.our-data div{
padding: 0 20px;
}

.lady-img{
    text-align: center;
    background-color: rgb(231, 216, 216);
    padding-top: 14px;
    padding-bottom: 1px;
    margin-top: 18px;
}
.lady-img p{
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 11px;
    color: green;
    margin-top: 7px;
    font-weight: 700;
}

.footer{
    background-color: #b44c00;
    float: none;
    /* display: flex; */
    justify-content: center;
    position: relative;
    height: 89px;
    width: 1000px;
    margin: auto;

}

.footer div{
    margin: 6px;
    font-size: 13px;
}
.footer div a{
    color: white;
}

.footer p{
    color: white;
    position: absolute;
    font-size: 14px;
    bottom: -7px;
    padding-bottom: 2px;
}
.no-border{
    border: none;
}

.footer div a{
    font-weight: 600;
    text-decoration: none;
    border-right: 1px solid #fff;
    padding: 0 10px;
}